.Courses {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
}

.Course {
    border: 1px solid white;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    height: 5rem;
    justify-content: space-around;
}

.Course a {
    text-decoration: none;
    color: #699eec;
    font-weight: bold;
}